<div class="container row">

<div class="row">
    <div class="span12">
                     <form class="form-horizontal well well-small">
                         <div class="row">
                     <fieldset class="span5">
                         <legend>Coordonnées</legend>
                        <div class="control-group">
                            <label class="control-label">Votre nom: </label>
                            <div class="controls">
                                <input type="text" ng-model="details.nom"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Votre prénom: </label>
                            <div class="controls">
                                <input type="text" ng-model="details.prenom"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Téléphone: </label>
                            <div class="controls">
                                <input type="text" ng-model="details.telephone"/>
                            </div>
                        </div>
                         
                     </fieldset>
                    
                     <fieldset class="span5">
                        <legend>Adresse</legend>
                        <div class="control-group">
                            <label class="control-label">Numéro et nom de rue: </label>
                            <div class="controls">
                                <input type="text" ng-model="details.adresse"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Code Postal: </label>
                            <div class="controls">
                                <input type="text" ng-model="details.codePostal"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Ville: </label>
                            <div class="controls">
                                <input type="text" ng-model="details.ville"/>
                            </div>
                        </div>
                     </fieldset>
                         </div>
                         <div class="row">

                                    <a ng-click="save()" class="btn btn-primary span2 offset5">Enregistrer le profil</a>

                         </div>
                </form>
</div></div>
</div>